<p>Sultan! You're here, good...<br>
<br>
Wiki for the <a href="#">Our Avatars Are in a Room</a> roleplay group. We are a relatively sizable RP with two main roleplay threads: The Forum Game (FG) and Roleplay (RP) threads. The RP is more story oriented, while the FG is mainly for character interaction. We originated on TV Tropes as Our Avatars Are in a Room Together. Our backup forum can be found <a href="#">here</a>.</p>
<br>
<ul>
  <li><a href="#">Character Pages</a></li>
  <li><a href="#">Recap Page</a></li>
  <li><a href="#">Timeline</a></li>
</ul>
